# JetBrains
.idea/

# FireHub
firehub/*
!firehub/.gitkeep
!firehub/core/

firehub/core/*
!firehub/core/.gitkeep

# App
vendor/phpdocumentor.phar
vendor/phpstan.phar
vendor/phpstan.neon
vendor/phpunit.phar